<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Plot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- <div id="plot-container"></div> -->
    <iframe src="http://127.0.0.1:8000/interactive_plot" width="1920" height="1080" frameborder="0"></iframe>

    <!-- <script>
      document.addEventListener('DOMContentLoaded', function () {
            // Fetch the Plotly plot JSON from the FastAPI endpoint
            fetch('http://127.0.0.1:8000/interactive_plot')
                .then(response => response.json())
                .then(plotData => {
                    console.log('====================================');
                    console.log(plotData);
                    console.log('====================================');
                    // Embed the Plotly plot using the JSON data
                    Plotly.newPlot('plot-container', plotData.data, plotData.layout);
                })
                .catch(error => console.error('Error fetching Plotly plot:', error));
        });
        //   async function fetchInteractivePlot() {
        //         try {
        //             // Make a GET request to the Flask API
        //             const response = await fetch('http://127.0.0.1:8000/interactive_plot');
        //             // Check if the request was successful (status code 200)
        //             if (!response.ok) {
        //                 throw new Error(`HTTP error! Status: ${response.status}`);
        //             }

        //             // Parse the JSON response
        //             const json = await response.json();
        //             console.log(json)
        //             // Extract the HTML content from the JSON response
        //             const htmlContent = json.html;
        //             console.log(htmlContent)
        //             // Update the content of a container element with the HTML content
        //             document.getElementById('interactive-plot-container').innerHTML = htmlContent;
        //         } catch (error) {
        //             console.error('Error fetching interactive plot:', error);
        //         }
        //     }
        //     fetchPlot()
        // Call the fetchPlot function when the page loads
        // window.onload = fetchPlot;
    </script> -->
</body>
</html>
